Django
matplotlib
numpy
pandas
Pillow
python-dotenv
scikit_learn
seaborn
social-auth-app-django
gunicorn
whitenoise
dj-database-url
dj-static
dj-database-url
dj-static
gunicorn
mysql-connector-python-rf
mysqlclient
psycopg2
pytz
django_heroku
whitenoise
opencv-python-headless
pyzbar
qrcode
python-barcode