:root {
  --font: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace;
}

[contentEditable=false]:empty:not(:focus):before{
    content:attr(data-text)
}

#id01 {
    background-color: #EAEAEA;
    font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace;
    padding: 0.5vw;
    margin: 0 5vw 5vw;
    overflow: auto;
}

#id02 {
    background-color: #2C272E;
    color: white;
    text-align: center;
    line-height: 2vw;
    height: 2vw;
    font-size: 2vw;
    margin: 0;
    vertical-align: middle;
}

#id03 {
    margin: auto;
    width: 55%;
    padding: 1%;
}

.id04 {
    width: 48%;
    margin: 1%;
    display:inline-block;
    float: left;
}

#id05 {
    width: 100%;
}

.id06 {
    width: 100%;
    height: 20%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
}

/*the container must be positioned relative:*/
.id07 {
    position: relative;
}

.id07 select {
    display: none; /*hide original SELECT element:*/
}

.id08 {
    background-color: #8CA1A5;
}

/*style the arrow inside the select element:*/
.id08:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.id08.id09:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}

/*style the items (options), including the selected item:*/
.id10 div, .id08 {
    color: black;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.5) transparent;
    cursor: pointer;
    user-select: none;
}

/*style items (options):*/
.id10 {
    position: absolute;
    background-color: #8CA1A5;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

/*hide the items when the select box is closed:*/
.id11 {
    display: none;
}

.id10 div:hover, .id12 {
    background-color: rgba(255, 255, 255, 1);
}

#id14 {}

.id15 {
    max-width:100%;
    height:auto;
    margin: 1vw 1vw 0 0;
}

#id16 {}

#id17 {
    color: transparent;
}

#id17::-webkit-file-upload-button {
  visibility: hidden;
}

#id17::before {
    content: 'UPLOAD IMAGE';
    color: black;
    display: inline-block;
    background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
}

#id17:hover::before {
    border-color: black;
}

#id17:active {
    outline: 0;
}

#id17:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

#id18 {}

.id19 {
    background-color: white;
    text-align: center;
    line-height: 2vw;
    height: 2vw;
    font-size: 1.5vw;
    margin: 1vw 0;
}